body{
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    color: #666;
    background-color: #fff;
    padding-top: 70px;
}
ul.nav a:hover { 
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
 
}
.text-center{
    text-align: center;
}
.navbar-default{
    background-color: #ffffff;
}
