<div class="container">
    <div class="row">
        <div class="col-lg-11 col-md-offset-1">
            <h2>Add recipe</h2>

            <div ng-show="isLoggdIn">
                <p>´Please add the different criterias:</p>
                <form ng-submit="addRecipe()">

                    <div class="form-group">
                        <label for="name">Name of Recipe:
                            <input type="text" ng-model="rec_name" id="name"></label> <br/>


                        <label for="description">Description of Recipe:
                            <textarea ng-model="rec_des" id="description"></textarea></label> <br/>

                        <label for="instruction">Instruction of Recipe:
                            <textarea ng-model="rec_ins" id="instruction"></textarea></label> <br/>   

                        <label> Category: <select ng-model="rec_cat">
                                <option ng-repeat="recipes in recipe" value="{{recipes.category_id}}">{{recipes.category_name}}</option>
                            </select></label> <br/>

                            <input type="submit" class="btn btn-primary" value="Add recipe" onclick="addRecipe()"/>


                    </div>


                </form>
            </div>
        </div>
    </div>
</div>



