<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <!-- Header -->

            <a class="navbar-left page-scroll"> </a>
            <button class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse navbar-right" id="nav-collapse">
            <!-- Innehåll -->
            <ul class=" nav navbar-nav">
                <li><a ui-sref="home"> Home</a></li>
                <li><a ng-show="isLoggedIn" ui-sref="addRecipe"> Add recipe</a></li>
                <li><a ng-show="isLoggedIn" ui-sref="changeRecipe"> Update or delete recipe </a></li>
                <li><a ng-hide="isLoggedIn" data-toggle="modal" data-target="#myModal"> Login </a></li>
            </ul>
            </nav>


            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog" ng-controller="logInCtrl">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Login to Your Account</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <label>Username: <input type="text" placeholder="Username" ng-model="username"></label>
                                <label>Password: <input type="password" placeholder="Password" ng-model="password"></label>
                            </form>          
                            <label><a ui-sref="register" data-dismiss="modal">Or Register</a></label>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-block" data-dismiss="modal" ng-click="loggIn()" type="submit" value="Submit">Logga in</button>
                            
                        </div>
                    </div>

                </div>
            </div>



