<div class="container " ng-repeat="recipes in recipe">
    <h1>{{recipes.recipe_name}}</h1>
    <div class="row col-md-6 pull-left">

        <a ng-repeat="recipe_name in recipe"><img ng-src="{{recipes.image}}" alt="head" class="head"/></a>

    </div>


    <div class="row col-md-6 pull-right">
        <h2 id="des" >
            {{recipes.recipe_description}}
        </h2>
    </div>


</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 pull-right">
            <h3>Instructions:</h3>
            <p id="ins" ng-repeat="recipes in recipe">{{recipes.recipe_instruction}}</p>

        </div>

        <div class="col-md-4 pull-left">
            <h3>Ingredients:</h3>
            <ul ng-repeat="inge in ingredients">

                <li>{{inge.inge}} : {{inge.amount}}</li>
            </ul>
        </div>
    </div>
</div>
